.typed-out {
  overflow: hidden;
  border-right: 0.3em solid orange;
  border-radius: 4px;
  white-space: nowrap;
  animation: typing 2s steps(20, end) forwards, blinking 1.2s infinite;
  font-size: 1.6rem;
  width: 2;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  from {
    border-color: transparent;
  }
  to {
    border-color: rgb(0, 0, 0);
  }
}
